---
import "@fontsource/geist-mono";
import "@styles/globals.css";
import Analytics from '@vercel/analytics/astro'

const { title } = Astro.props;

const metaDescription =
  "Check out some of the visuals and experiences I created, including Framer website designs, space planning, graphics, course work explorations and more";
const metaTitle = "Fanindra Maharana - More Designs";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={metaDescription} />
    <meta name="viewport" content="width=device-width" />

    <meta name="theme-accent" content="#0800FF" />

    <meta property="og:title" content={metaTitle} />
    <meta
      property="og:description"
      content={metaDescription}
    />
    <meta
      property="og:image"
      content="https://designs.fanindra.xyz/og.png"
    />
    <meta property="og:type" content="website" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon.svg"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon.svg"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon.svg"
    />

    <link rel="manifest" href="/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <Analytics/>
  </head>

  <body class="m-8">
    <slot />
  </body>
</html>
